[package]
name = "medical_records"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
soroban-sdk = { workspace = true }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
federated_learning = { path = "../federated_learning" }
anomaly_detection = { path = "../anomaly_detection" }
predictive_analytics = { path = "../predictive_analytics" }
explainable_ai = { path = "../explainable_ai" }

[features]
default = []
testutils = ["soroban-sdk/testutils"]
